/*Цвет Логотипа: #FFFFFF ##000000

Акцент #2196F3

Цвет основного текста #212121
Вторичный цвет текста #757575
Вторичный цвет текста на темном фоне #FFFFFF
Текст емейла и телефона в футере rgba(255,255,255,.6)  
Цвет иконок #AFB1B8

Цвет фона #FFFFFF
Вторичный цвет фона #F5F4FA
Вторичный цвет фона #2F303A

Цвет подчеркивания хедера #ECECEC
Цвет рамок елементов портфолио #EEEEEE
*/

/*  Шрифты 
Raleway – 700
Roboto – 400, 500, 700, 900 */

:root {
  --logo-color: #000000;
  --dark-logo-color: #ffffff;

  --accent-color: #2196f3;

  --primary-text-color: #757575;
  --title-text-color: #212121;
  --dark-text-color: #ffffff;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;

  --primary-background-color: #ffffff;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --project-background-color: rgba(33, 150, 243, 0.9);

  --button-text-colour: #ffffff;
  --button-secondary-background-colour: #f5f4fa;
  --button-focus-color: #188ce8;

  --header-line: #ececec;
  --border-elements: #eeeeee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.link {
  display: inline-block;

  text-decoration: none;

  /* user-select: none; */
}

.button {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  cursor: pointer;

  /* user-select: none; */
}

.title {
  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}

/* --------------------Хедер-------------------- */

header {
  border-bottom: 1px solid #ececec;
}

.main-header {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo.position {
  margin-right: 93px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* --------------------Навигация-------------------- */

.site-nav {
  display: flex;
}

.site-nav-item {
  position: relative;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  height: 4px;
  width: 100%;

  background-color: var(--accent-color);
  border-radius: 2px;

  animation: moveCurrentDecoration 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes moveCurrentDecoration {
  0% {
    transform: scaleX(0);
    transform-origin: center left;
    opacity: 0;
  }

  100% {
    transform: scaleX(1);
    transform-origin: center left;
    opacity: 1;
  }
}

.contact {
  display: flex;
  margin-left: auto;
}

.contact .contact-item + .contact-item {
  margin-left: 50px;
}

.contact .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}

/* !--------------------Основной контент-------------------- */
/* --------------------Герой-------------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

.hero-bcg-image {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--dark-background-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bgi-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--dark-text-color);
}

.button.primary {
  padding: 10px 32px;

  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--button-text-colour);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--button-focus-color);
}

/* --------------------Секции-------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

/* --------------------Особенности-------------------- */

.feature {
  display: flex;
}

.feature .feature-item {
  flex-basis: 270px;
}

.feature .feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  border-radius: 4px;
  background-color: var(--light-background-color);
}

.feature .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.13;
  text-transform: uppercase;
}

.feature .text {
  line-height: 1.71;
}

/* Чем мы занимаемся */

.service-section {
  padding-top: 0;
}

.service {
  display: flex;
}

.service .service-item {
  position: relative;

  flex-basis: 370px;
}

.service-item .title {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--dark-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.service .service-item:not(:last-child) {
  margin-right: 30px;
}

/* --------------------Наша команда-------------------- */

.team-section {
  background-color: var(--light-background-color);
}

.team {
  display: flex;
}

.team .team-item {
  flex-basis: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item:not(:last-child) {
  margin-right: 30px;
}

.team > .team-item {
  background-color: var(--primary-background-color);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* --------------------Иконки на соц сети-------------------- */

.social-natwork-list {
  display: flex;
  justify-content: center;
}

.social-natwork-item {
  width: 44px;
  height: 44px;
}

.social-natwork-item + .social-natwork-item {
  margin-left: 10px;
}

.social-natwork-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-natwork-list .icon {
  fill: currentColor;
}

.social-natwork-list .link:hover,
.social-natwork-list .link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  color: #ffffff;
}

/* --------------------Клиенты-------------------- */

.clients {
  display: flex;
  justify-content: center;
}

.client-item {
  width: 170px;
  height: 92px;
}

.client-item + .client-item {
  margin-left: 30px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients .icon {
  fill: currentColor;
}

.clients .link:hover,
.clients .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
}

/* Лого */
.logo.dark {
  margin-bottom: 20px;

  color: var(--dark-logo-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* Адрес */
.address {
  font-style: normal;
}

.address .address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  line-height: 1.71;

  color: var(--dark-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .link.contact {
  color: var(--footer-contacts-text-color);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}

.footer-elements {
  display: flex;
  align-items: baseline;
}

.footer-elements .first-column {
  margin-right: 70px;
}

.second-column .text,
.third-column .text {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;

  color: var(--dark-text-color);
}

.second-column .link {
  color: var(--dark-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.third-column {
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: center;
}

.mailing-input {
  width: 358px;
  height: 50px;
  padding: 0 16px;
  margin-right: 12px;

  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.mailing-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.button-mailing .icon {
  margin-left: 10px;
}

/* ---------------------------------------------------------------- */
/* --------------------Страница портфолио-------------------- */

/* --------------------Кнопки-------------------- */
.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-secondary-background-colour);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--button-text-colour);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .filter-item:not(:last-child) {
  margin-right: 8px;
}

/* --------------------Список проектов-------------------- */

.project {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.project .project-item {
  /* flex-basis: calc((100% - 3 * 30px) / 3); */
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.project-item .link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item .link:hover,
.project-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-wraper {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  padding: 0 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;

  background-color: var(--project-background-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item .link:hover .project-description,
.project-item .link:focus .project-description {
  transform: translateY(0);
}

.project-container {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: transparent;
}

.project .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}

/* ---------------------------------------------------------------- */
/* --------------------Модальное окно-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ! При вимкненні з'явиться модалка */
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal-window {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #ffffff;

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

/* !----------------------------------------------- */

.modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.form-field {
  margin-bottom: 10px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 0 10px 0 42px;

  font-size: 16px;
  color: #212121;
  background-color: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .icon {
  fill: var(--accent-color);
}

.modal-input-svg {
  position: relative;
}

.modal-input-svg .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-container {
  margin-bottom: 20px;
}

.modal-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #212121;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  resize: none;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-field {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
}

.modal-check {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;

  width: 16px;
  height: 15px;

  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-check .icon {
  fill: transparent;
}

.checkbox-item:checked + .modal-check {
  background-color: #188ce8;
  border: none;
}

.checkbox-item:checked + .modal-check > .icon {
  fill: #ffffff;
}

.checkbox-item:focus + .modal-check {
  outline: var(--accent-color) solid 1px;
}

.checkbox-text {
  line-height: 1.71;
}

.checkbox-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;

  color: var(--button-text-colour);
  background-color: var(--accent-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: var(--button-focus-color);
}
