.button {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
  background-color: var(--primary-background-color);
  cursor: pointer;

  // user-select: none;
}
