.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: $logo-color;

  &__text--accent {
    color: $accent-color;
  }

  &--dark {
    color: $dark-logo-color;
  }

  &--header-position {
    margin-right: 93px;
  }

  &--footer-position {
    margin-bottom: 20px;
  }
}
